@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');


*{
	margin: 0;
	padding: 0;
	line-height: 3;

}
body{
	min-width: 360px;
	min-height: 500px;
	background-color: rgb(103, 114, 126);

}
#menu{
	display: flex;
	justify-content: space-around;
	font-size: 2em;
	background-color: rgb(180, 233, 243);

}

#menu_items{
	font-family: 'Azeret Mono', monospace;
	display: flex;
	color: rgb(20, 215, 88);
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	border: 1px solid black;
	border-radius: 10% / 50%;
	background-color: rgb(49, 49, 49);
}

#menu_items:hover{
	background-color: white;
	cursor: pointer;
}

#inp form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;


}
#inp input{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	
	
}

#inp input::placeholder{
	font-size: 1.3 em;
	color: green;
}
#buttons{
	display: flex;
    justify-content: center;
    align-content: center;
}

button{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 1.5%;
    margin-left: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    cursor: pointer;
}


#cpu_inp{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;


}



#cpu_clock{
	width: 2vw;
	min-width: 15px;

}


label{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#attention{
	display: flex;

	color: rgb(217, 130, 130);
	justify-content: center;
	align-content: space-around;
	flex-direction: row;
	font-size: 1.4 em;
}
#attention label{
	font-size: 11px;
	background-color: rgb(224, 226, 106);
	
	border: 1px solid red;
	border-radius: 1em;
	align-content: center;
	text-align: center;


}

#warning{
	min-width: 50px;
	min-height: 50px;
	max-height: 50px;
	max-width: 50px;
	display: flex;
	background-color: red;
	color: white;
	border: 3px solid white;
	border-radius: 50%;
	justify-content: center;
	width: 3%;
	align-content: center;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

a{
	text-decoration: none;
	color: green;
}

a:visited {
	color: #cecece;
}
a:active {
	color: #ffff00; 
   }



#output{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;

}


#output p{
	background-color: grey;
	color: red;
	border: 1px solid white;
	font-family: 'Urbanist', sans-serif;
	min-width: 250px;
	text-align: center;
	align-content: center;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}